<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <pagename>
        {% block pagename %}
            <h1>Главная страница</h1>
        {% endblock %}
    </pagename>

    <menu>
        {% block menu %}
            <a href="/haupt/kesseln/"><h2>Магазин</h2></a>
            <a href="/haupt/korb/"><h2>Корзина</h2></a>
            <a href="/platform/news/"><h2>Новости</h2></a>
        {% endblock %}
    </menu>

    <content>
        {% block content %}
            <ul>
                {% for kessel in kesseln %}
                    <li style="font-size:25px">
                        {{ kessel.title }} , мощность {{ kessel.power }}кВт, цена {{ kessel.cost}}$
                        <button style="font-size:20px">Купить</button></li>
                {% endfor %}
            </ul>
        {% endblock %}
    </content>

</body>
</html>