<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Котлы</h1>
    <ul>
        <li style="font-size:25px">Vitopend  <button style="font-size:20px">Купить</button></li>
        <li style="font-size:25px">Vitodens  <button style="font-size:20px">Купить</button></li>
        <li style="font-size:25px">Vitogas    <button style="font-size:20px">Купить</button></li>
    </ul>
    <form action="/haupt/">
    <button style="font-size:20px">На главную</button>
    </form>

</body>
</html>